@use "../abstracts/" as *;

.wrapper {
  --padding: #{$container-min-margin-inline} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.wrapper[data-type="narrow"] {
  --max-width: #{$container-max-width-narrow};
}
.wrapper[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}
.wrapper[data-type="full-bleed"] {
  --max-width: 100%;
}
