@font-face {
  font-family: "Inter Tight";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter_Tight-normal-700-latin.woff2") format("woff2"),
    url("../fonts/Inter_Tight-normal-700-latin.woff") format("woff");
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter_Tight-normal-500-latin.woff2") format("woff2"),
    url("../fonts/Inter_Tight-normal-500-latin.woff") format("woff");
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter_Tight-normal-400-latin.woff2") format("woff2"),
    url("../fonts/Inter_Tight-normal-400-latin.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Poppins-normal-400-latin.woff2") format("woff2"),
    url("../fonts/Poppins-normal-400-latin.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Poppins-normal-400-latin.woff2") format("woff2"),
    url("../fonts/Poppins-normal-500-latin.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Poppins-normal-400-latin.woff2") format("woff2"),
    url("../fonts/Poppins-normal-700-latin.woff") format("woff");
}
