@use "../abstracts" as *;
@use "sass:map";

.section__header {
  text-align: center;
  margin-bottom: $size-8;

  h2 {
    font-family: $font-family-accent;
    font-size: $heading-2-font-size;
    line-height: $heading-line-height;
    font-weight: $heading-font-weight;
    max-width: 20ch;
    margin-inline: auto;
  }

  p {
    margin-top: $size-4;
    font-size: $font-size-500;
    line-height: 1.5;
    max-width: 48ch;
    margin-inline: auto;
  }
}
