@use "../abstracts" as *;

.site-header {
  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;

  &__inner {
    display: flex;
    gap: $size-4;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation-small-screens;

    ul {
      align-items: $site-header-alignment;
    }

    @include mq(medium) {
      justify-content: $site-header-jusitifcation-large-screens;
    }
  }

  &__logo {
    width: 60px;
    height: auto;

    @include mq(medium) {
      width: 90px;
      height: auto;
    }
  }
}
