@use "../abstracts" as *;

.testimonial-slider {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-inline: auto;
}

/* Individual Slides */
.testimonial-slide {
  display: none;
  /* Hide all slides by default */
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

.testimonial-slide.active {
  display: block;
  /* Show only the active slide */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.quote {
  max-width: 65ch;
  font-size: $font-size-400;
  font-style: italic;
  // color: #333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  margin-inline: auto;
}

/* Author Info */
.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.author img {
  width: 90px;
  height: 90px;
  border-radius: 50%;

  object-fit: cover;
  border: 3px solid $color-accent-600;
}

.author-info h4 {
  margin: 0;
  font-size: 1.1rem;
  color: $color-neutral-100;
}

.author-info p {
  margin: 0;
  color: $color-neutral-100;
  font-size: 0.9rem;
}

/* Navigation Buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-accent-600;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  z-index: 5;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: $color-accent-600;
}

.prev-btn {
  left: 15px;
}

.next-btn {
  right: 15px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: $color-accent-600;
}
