{% extends "layouts/base.njk" %}

{% block content %}
  <section class="hero">
    <div class="wrapper">
      <div class="hero__content">
        <h1>{{ hero.title }}</h1>
        <p>{{ hero.summary }}</p>

        <div class="flex-group margin-inline-auto margin-block-start-8">
          <a class="button" 
            data-type="{{ hero.buttons.button_1.theme }}" 
            href="{{ hero.buttons.button_1.href }}">
            {{ hero.buttons.button_1.text | safe }}
          </a>
          <a class="button" 
            data-type="{{ hero.buttons.button_2.theme }}"
            href="{{ hero.buttons.button_2.href }}" target="_blank">
            {{ hero.buttons.button_2.text | safe }}
          </a>
        </div>
      </div>
    </div>
  </section>

  {# Features section 1 #}
  <section class="section">
    <div class="wrapper">

      <div class="section__header">
        <h2>{{ features1.heading }}</h2>
        <p>
          {{ features1.summary }}
        </p>
      </div>

      <div class="grid-auto-fit">
        {% for item in features.items | limit(3) %}

          <article class="card">
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}">
            <h4 class="card__heading">{{ item.title }}</h4>
            <p class="card__description">{{ item.description }}</p>
          </article>

        {% endfor %}
      </div>

    </div>
  </section>
  {# End features section 1 #}

  {# Features section 2 #}
  <section class="section bg-primary-700">
    <div class="wrapper">

      <div class="section__header">
        <h2>{{ features2.heading }}</h2>
        <p>
          {{ features2.summary }}
        </p>
      </div>

      <div class="grid-auto-fit">

        {% for item in features.items | limit(3, 3) %}

          <article class="card">
            <img class="card__image" src="{{ item.image.src }}" alt="{{ item.image.alt }}">
            <h4 class="card__heading">{{ item.title }}</h4>
            <p class="card__description">{{ item.description }}</p>
          </article>

        {% endfor %}

      </div>

    </div>
  </section>
  {# End features section 2 #}

  <section class="section">
    <div class="wrapper">
      <div class="even-columns vertically-centered justify-center">
        <div class="flow max-w-500 md-text-center">
          <h3 class="heading-2">{{ engagement.title }}</h3>
          <p>{{ engagement.content }}</p>
        </div>
        <div>
          <img class="border-radius-3" src="{{ engagement.image.src }}" alt="{{ engagement.image.alt }}">
        </div>
      </div>
    </div>
  </section>

  {# Testimonials section #}
  <section class="section bg-primary-700">
    <div class="wrapper">
      <div class="testimonial-slider">
        <div class="slider-container">
          {% for testimonial in testimonials.items %}
            <div class="testimonial-slide">
              <p class="quote">
                {{ testimonial.quote }}
              </p>
              <div class="author">
                <div class="img-container">
                  <img src="{{ testimonial.author.image.src }}" alt="{{ testimonial.author.image.alt }}"/>
                </div>

                <div class="author-info">
                  <h4>{{ testimonial.author.name }}</h4>
                  <p>{{ testimonial.author.title }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <button class="prev-btn" aria-label="Previous Testimonial">
        &#10094;
        </button>
        <button class="next-btn" aria-label="Next Testimonial">&#10095;</button>
        <div class="dots">
          {% for testimonial in testimonials.items %}
            <span class="dot"></span>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {# End testimonials section #}

  {# Support us section #}
  <section class="section">
    <div class="wrapper">
      <div class="even-columns">
        <div>
          <h2 class="heading-2">{{ support_us.title }}</h2>
        </div>
        <div class="flow">
          <p>{{ support_us.content }}</p>
          <a class="button" href="{{ support_us.button.href }}"  data-type="{{ support_us.button.theme }}">{{ support_us.button.text | safe }}</a>
        </div>
      </div>
    </div>
  </section>
  {# End support us section #}

  {# Contac us section #}
  <section class="section bg-accent-400 home-contact">
    <div class="wrapper">
      <div class="grid-auto-fit">

        {% set icons_base_path = "svg/" %}

        {% for item in contacts.items %}
          {% set icon_path = item.icon %}
          {% set fullpath = [icons_base_path, icon_path] | join %}
          <div class="flow text-center clr-neutral-1000">
            <span class="home-contact__svg">{% include fullpath %}</span>
            <h4 class="heading-4 clr-neutral-1000">{{ item.title }}</h4>
            <p>{{ item.summary }}</p>
            <div>
              <a class="clr-neutral-1000" href="{{ item.url }}">{{ item.urlText }}</a>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>
  {# End contac us section #}

  <section class="section bg-accent-500">
    <div class="wrapper">
      <div class="even-columns">
        <div class="flow clr-neutral-1000">
          <h2 class="heading-2 clr-neutral-1000 fw-bold">
            {{ resources.title }}
          </h2>

          <p>{{ resources.summary }}</p>

          <a class="button" href="{{resources.button.href}}" data-type="{{resources.button.theme}}">
            {{ resources.button.text | safe }}
          </a>
        </div>
        <div></div>
      </div>
    </div>
  </section>

{% endblock %}