{% extends "layouts/base.njk" %}
{% from 'macros/card.njk' import card %}

{% block content %}
  <section class="hero padding-block-11">
    <div class="wrapper">
      <h1 class="heading-1 clr-neutral-100">{{ title }}</h1>
    </div>
  </section>

  <section class="section">
    <div class="wrapper">

      <div class="grid-auto-fit">

        {% for item in features.items | limit(3) %}

          <article class="card">
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}">
            <h4 class="card__heading">{{ item.title }}</h4>
            <p class="card__description">{{ item.description }}</p>
          </article>

        {% endfor %}

      </div>

    </div>
  </section>

  <section class="section">
    <div class="wrapper">

      <div class="grid-auto-fit">

        {% for item in features.items | limit(3, 3) %}

          <article class="card">
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}">
            <h4 class="card__heading">{{ item.title }}</h4>
            <p class="card__description">{{ item.description }}</p>
          </article>

        {% endfor %}

      </div>

    </div>
  </section>

{% endblock %}