{% extends "layouts/base.njk" %}

{% block content %}
  <section class="page-intro padding-block-11">
    <div class="wrapper">
      <h1 class="heading-1 clr-neutral-100">{{ title }}</h1>
    </div>
  </section>
{% endblock %}