{% extends "layouts/base.njk" %}

{% block content %}
  <section class="page-head page-head-statut section">
    <div class="wrapper" data-type="narrow">
      <div class="page-head__inner flow">
        <h1 class="heading-1 clr-neutral-100 text-center">{{ title }}</h1>
      </div>
    </div>
  </section>

  <section class="page-statut section">
    <div class="wrapper" style="--max-width:820px;">
      <article class="flow margin-block-end-9">
        <h2 class="heading-1">ASSOCIATION INTERNATIONALE RENAISSANCE</h2>
        <h3 class="heading-2">AIR</h3>
        <p>ASSOCIATION LOI 1901</p>
        <h4 class="heading-3">STATUTS & RÈGLEMENT INTÉRIEUR</h4>
        <p>
            Examinés et adoptés à l’unanimité lors de l’Assemblée Générale
            constitutive du 29 novembre 2023
          </p>
      </article>

      <article class="flow margin-block-end-9">
        <h3 class="heading-2">TITRE I</h3>
        <h4 class="heading-3">PRÉSENTATION DE L’ASSOCIATION</h4>
        <h5 class="sub-h heading-4">Article 1 : Constitution, dénomination, sigle, droit applicable, adresse, siège social</h5>
        <p>
            Il est créé, en France, entre les adhérents aux présents statuts et
            règlement intérieur, une association ayant pour dénomination : «
            ASSOCIATION INTERNATIONALE RENAISSANCE », dont le sigle est AIR.
          </p>

        <p>
            Ayant pour slogan « Les mots sur les maux », c’est une association
            d’intérêt général, à but non lucratif, non-partisane, apolitique et
            non confessionnelle, régie par la loi du 1er juillet 1901 et le
            décret du 16 août 1901.
          </p>

        <p>
            Le siège social est fixé en France, à l’adresse suivante : 121
            Boulevard de l’Europe 76100 Rouen – Téléphone portable : +33 7 58 58
            75 60 – E-mail : airassociation@outlook.fr
          </p>

        <h5 class="sub-h heading-4">Article 2 : Objet</h5>

        <p>
            L’ASSOCIATION INTERNATIONALE RENAISSANCE (AIR) est engagée dans la
            promotion de la santé mentale : bien-être physique, mental et social
            : améliorer le bien-être de la population et diminuer la morbidité
            et la mortalité associées aux troubles mentaux (dépression sur
            différents stades, isolement, perte d’estime, humiliation,
            dévalorisation…)
          </p>

        <ul>
          <li>
              Renforcer la capacité des personnes et des collectivités à prendre
              leur vie en main et à améliorer leur santé mentale ;
            </li>
          <li>
              Mettre en œuvre des stratégies qui favorisent les environnements
              de soutien et la résilience individuelle ;
            </li>
          <li>Favoriser l’entraide mutuelle ;</li>
          <li>
              Promouvoir la santé mentale en milieux familial, scolaire,
              universitaire, pénitentiaire et professionnel ;
            </li>
          <li>
              Promouvoir et valoriser la capacité physique, psychique et sociale
              des personnes d’agir dans leur milieu et d’accomplir les rôles
              qu’elles entendent assumer d’une manière acceptable pour
              elles-mêmes et pour les groupes dont elles font partie ;
            </li>
          <li>
              Aider et accompagner les personnes souffrant de maladies mentales
              ;
            </li>
          <li>
              Promouvoir la gouvernance pour la santé pour tous et le bien-être
              ;
            </li>
          <li>Encourager et soutenir la recherche en santé mentale ;</li>
          <li>
              Faire de la santé mentale, un enjeu de droit humain et de justice
              sociale ;
            </li>
          <li>
              Œuvrer pour le repérage, la prise en charge et la prévention des
              maladies mentales ;
            </li>
          <li>
              Diffuser des solutions et des messages d’espoir en direction des
              personnes souffrant de maladies mentales ;
            </li>
          <li>Renforcer l’action communautaire.</li>
        </ul>

        <h5 class="sub-h heading-4">Article 3 : Moyens d’action</h5>
        <p>
            Les moyens d’action de l’ « ASSOCIATION INTERNATIONALE RENAISSANCE »
            sont notamment :
          </p>

        <ul>
          <li>Les réunions de travail</li>
          <li>
              Les conférences, congrès, colloques, séminaires, ateliers et
              débats au plan national et international (écoles, lycées,
              collèges, universités, centres de formation professionnelle et
              technique, familles, prisons, marchés…)
            </li>
          <li>
              L’organisation de conventions, de réunions publiques et
              d’événements
            </li>
          <li>
              Des actions socioculturelles et d’éducation aux médias et à
              l’information
            </li>
          <li>
              La création de partenariats avec des organisations agissant dans
              un but éthique et favorisant une évolution positive de la société,
              du bien-être personnel, collectif ou environnemental
            </li>
          <li>Les formations professionnelles, civiques et bénévoles</li>
          <li>
              Des actions de mobilisation publique (sensibilisation, éducation
              et communication) pour porter la cause
            </li>
          <li>
              Le lobbying auprès des décideurs publics, institutions, médias et
              autres personnes ressources et organisations pour accélérer les
              solutions concrètes contre les maladies mentales
            </li>
          <li>Des événements grand public de sensibilisation</li>
          <li>
              L’organisation de diverses manifestations pacifiques et toute
              initiative pouvant aider à la réalisation de l’objet de
              l’association
            </li>
          <li>La publication d’ouvrages</li>
          <li>
              Le soutien aux politiques publiques favorables à la santé mentale
            </li>
          <li>La création de centres d’aide et de soutien psychologique</li>
          <li>
              L’accompagnement personnalisé pour redonner confiance et espoir
              aux personnes souffrant de maladies mentales
            </li>
        </ul>

        <h5 class="sub-h heading-4">Article 4 : Durée de l’association</h5>
        <p>
            La durée de l’ASSOCIATION INTERNATIONALE RENAISSANCE (AIR) est
            illimitée.
          </p>

        <h5 class="sub-h heading-4">Article 5 : Principes</h5>
        <p>
            La liberté de conscience, une forte sensibilité aux questions
            sociales, la volonté de lutter contre les injustices et toutes les
            maladies mentales, une recherche constante de solidarité et de
            fraternité, une volonté de donner envie d’agir au plus grand nombre
            et de réinventer le monde de demain comptent parmi les principes
            essentiels qui animent l’engagement de tous les membres.
          </p>

        <p>
            L’ASSOCIATION INTERNATIONALE RENAISSANCE (AIR) respecte en son sein
            les principes fondamentaux ci-après :
          </p>
        <ul>
          <li>Solidarité</li>
          <li>
              Indépendance totale à l’égard de tout gouvernement, idéologie
              politique, intérêt économique ou religion
            </li>
          <li>Impartialité</li>
          <li>Démocratie et état de droit</li>
          <li>Respect mutuel et intégrité de la personne</li>
          <li>Transparence et bonne gouvernance</li>
          <li>Probité et équité</li>
          <li>Fraternité et discipline</li>
          <li>Liberté d’expression et diversité des opinions</li>
          <li>Égalité et respect des différences</li>
          <li>Exigences collectives et individuelles</li>
        </ul>
      </article>

      <article class="flow margin-block-end-9">
        <h3 class="heading-2">TITRE II</h3>
        <h4 class="heading-3">COMPOSITION DE L’ASSOCIATION</h4>
      </article>

    </div>
  </section>

{% endblock %}