<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="site-header__inner">

      <a class="site-header__logo" href="{{ site.baseUrl }}">
        <img src="/assets/img/air-logo.png" alt="Logo {{ site.title }}">
        <p class="visually-hidden">{{ site.title }}</p>
      </a>

      <span id="nav-label" class="visually-hidden" hidden>Bare de navigation principale</span>
      <button id="btnOpen" aria-controls="primary-nav" aria-expanded="false" aria-labelledBy="nav-label">
        {% include "svg/icon-hamburger.svg" %}
      </button>

      <nav class="primary-navigation" role="dialog" aria-labelledBy="nav-label" >
        <button id="btnClose" class="close-menu-btn" aria-controls="primary-nav" aria-label="Fermer">
          <span class="visually-hidden">Menu</span>
          {% include "svg/icon-close.svg" %}
        </button>
        <ul role="list">
          {% for item in navigation.default %}
            <li>
              <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                {{ item.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <a href="{{ navigation.button.url }}" data-type="{{ navigation.button.theme }}" class="button">{{ navigation.button.label }}</a>
      </nav>
    </div>
  </div>
</header>