<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__inner">
      <p>&copy; {{ site.buildTime | dateYear }}
        {{ site.title }}. Tous droits réservés.</p>
      <p>Conçu et développé par <a href="johnmabiala.me" target="_blank" rel="noopener">John Mabiala</a>
      </p>
    </div>
  </div>
</footer>